name: Deploy Flutter Web

on:
  push:
    branches: [ main, develop ]

jobs:
  deploy:
    environment: ${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Restore Env Files from Secrets
        run: |
          mkdir -p env
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "${{ secrets.ENV_FILE_PROD }}" > env/prod.env
          else
            echo "${{ secrets.ENV_FILE_DEV }}" > env/dev.env
          fi

      - name: Install Dependencies
        run: flutter pub get

      - name: Build Web
        run: flutter build web --release

      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_JSON }}'
          projectId: ${{ vars.FIREBASE_PROJECT_ID }} 
          channelId: live