name: Flutter Quality & Testing

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  quality_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Create dummy env files
        run: |
          mkdir -p env
          touch env/dev.env
          touch env/prod.env

      - name: Get Dependencies
        run: flutter pub get

      - name: Static Analysis
        run: flutter analyze

      # - name: Run Unit Tests
      #   run: flutter test